{% extends 'base.html.twig' %}

{% block title %}Modifier mon pseudo{% endblock %}

{% block body %}
    <h1>Modifier mon pseudo</h1>

    <form method="post" action="{{ path('profile_update') }}">
        <label for="pseudo">Pseudo</label>
        <p>Attention, vous serez déconnecté après avoir modifié votre pseudo - Veuillez vous reconnecter avec le nouveau pseudo.</p>
        <input type="text" name="pseudo" id="pseudo" value="{{ user.pseudo }}" required>

        <label for="fullName">Nom complet</label>
        <input type="text" name="fullName" id="fullName" value="{{ user.fullName }}">

        <label for="description">Description</label>
        <textarea name="description" id="description" rows="4">{{ user.description }}</textarea>
        
        <button type="submit">Enregistrer</button>
    </form>

    <h2>Mettre à jour l’avatar</h2>
    <form method="post" action="{{ path('profile_update_avatar') }}" enctype="multipart/form-data">
        <input type="file" name="avatar">
        <button type="submit">Mettre à jour l’avatar</button>
    </form>
{% endblock %}
