{# templates/profile/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.pseudo }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}


{% block body %}
<div class="profile-card">
    <div class="profile-header-bg">
        <form method="post" action="{{ path('profile_follow', {'id': user.id}) }}" class="follow-form">
            <button type="submit" class="follow-button">
                {% if user.isFollowed %}
                    <i class="fa-solid fa-user-minus"></i> Ne plus suivre
                {% else %}
                    <i class="fa-solid fa-user-plus"></i> Suivre
                {% endif %}
            </button>
        </form>

        <img class="profile-avatar" src="{{ user.avatar ? asset('uploads/avatars/' ~ user.avatar.path) : asset('images/default-avatar.webp') }}" alt="Avatar">
    </div>

    <div class="profile-stats">
        <a href="{{ path('profile_followers', {'id': user.id}) }}">
            <div>
                <strong>{{ user.followerCount }}</strong><br>
                <span>Followers</span>
            </div>
        </a>
        <a href="{{ path('profile_following', {'id': user.id}) }}">
            <div>
                <strong>{{ user.subscriptionCount }}</strong><br>
                <span>Following</span>
            </div>
        </a>
    </div>

    <div class="profile-identity">
        <h2>{{ user.fullName ? user.fullName : user.pseudo }}</h2>
        <p class="username">@{{ user.pseudo|lower }}</p>

        {% if user.description %}
            <p class="bio">{{ user.description }}</p>
        {% else %}
            <p class="bio empty">Ce profil n’a pas encore de description.</p>
        {% endif %}
    </div>

    <div>
        <div class="section-title">Tweets</div>
        {% for tweet in user.tweets %}
            <div class="tweet">
                <p>{{ tweet.content }}</p>
                <time>{{ tweet.publicationDate|date('d/m/Y H:i') }}</time>
            </div>
        {% else %}
            <p class="empty">Aucun tweet</p>
        {% endfor %}
    </div>

</div>
{% endblock %}
