{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block sidebar_left %}
    {{ include('profile/_card.html.twig', { user: profileMe, showActions: true }) }}
{% endblock %}
{% block body %}
<h1>Mes notifications</h1>

<ul>
    {% for notif in notifications %}
        <li>
            {% if notif.type == 'like' %}
                <a href="{{ path('profile_show', { id: notif.payload.likerId }) }}">
                    {{ notif.payload.liker }}
                </a>
                a aimé votre <a href="{{ path('tweet_detail', { id: notif.payload.tweetId }) }}">tweet</a>.
            {% elseif notif.type == 'follow' %}
                <a href="{{ path('profile_show', { id: notif.payload.followerId }) }}">
                    {{ notif.payload.follower }}
                </a>
                vous suit maintenant.
            {% else %}
                Notification : {{ notif.type }}
            {% endif %}

            {% if not notif.isRead %}
                <span style="color: white; background: red; padding: 2px 6px; margin-left: 10px; border-radius: 4px;">
                    Nouveau
                </span>
                <form method="put" action="{{ path('notification_mark_read', { id: notif.id }) }}">
                    <button type="submit">Marquer comme lu</button>
                </form>
            {% endif %}
            <br>
            <small>le {{ notif.createdAt|date('d/m/Y H:i') }}</small>
        </li>
    {% else %}
        <li>Aucune notification.</li>
    {% endfor %}
</ul>

{% endblock %}
