{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tweet.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block sidebar_left %}
    {{ include('profile/_card.html.twig', { user: user, showActions: true }) }}
{% endblock %}
{% block body %}
    <div class="home-container">

        <form method="get" action="{{ path('tweets_home') }}" class="search-bar">
            <input type="text" name="q" placeholder="Rechercher..." value="{{ keyword }}">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div class="new-tweet-box">
            <form method="post" action="{{ path('tweet_create_submit') }}">
                <textarea name="content" placeholder="Quoi de neuf ?" rows="3" required></textarea>
                <button type="submit" class="tweet-button">Tweeter</button>
            </form>
        </div>

        <div class="tweet-feed">
            {% for tweet in tweets %}
                <a href="{{ path('tweet_detail', { id: tweet.id }) }}" class="tweet-clickable">
                    <div class="tweet-card">
                    
                        {% if tweet.retweet_origin_id %}
                            <a href="{{ path('tweet_detail', { id: tweet.retweet_origin_id }) }}" class="republication-link">
                                <span class="tweet-date"><i class="fa-solid fa-arrow-up-right-from-square"></i> Republication</span>
                            </a>
                        {% endif %}
                        <div class="tweet-header">
                            <strong>{{ tweet.tweeter.pseudo }}</strong>
                            <span class="tweet-date">{{ tweet.publicationDate|date('d/m/Y H:i') }}</span>
                        </div>
                        <div class="tweet-content">
                            <p>{{ tweet.content }}</p>
                        </div>
                        <div class="tweet-footer">
                            <span>{{ tweet.likes_count }} ❤️</span>
                        </div>
                    </div>
                </a>
            {% else %}
                <p class="empty">Aucun tweet trouvé.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

