<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FakeTweeter{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
    <script src="https://kit.fontawesome.com/3d9fc8a1b6.js" crossorigin="anonymous"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body class="app-layout">

    <header class="app-navbar">
        <div class="nav-left">
            <a href="{{ path('tweets_home') }}" class="logo">🌀</a>
        </div>
        <div class="nav-center">
            <a href="{{ path('get_notifications') }}" class="logo">
                <i class="fa-regular fa-bell notification-icon"></i>
            </a>
        </div>
        <div class="nav-right">
            <form method="post" action="{{ path('logout') }}">
                <button type="submit" class="logout-button">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
                </button>
            </form>
        </div>
    </header>

    <main class="app-columns">
        <aside class="sidebar-left">
            {% block sidebar_left %}
            {% endblock %}
        </aside>

        <section class="main-feed">
            {% block body %}{% endblock %}
        </section>
    </main>

</body>
</html>
